# API Keys and Configuration
config.py
*.env
.env

# Virtual Environments
venv/
env/
.venv/
.env/

# Byte-compiled files
__pycache__/
*.pyc

# Screenshots
screenshots/

# MacOS specific files
.DS_Store