smolagents>=1.0.0
smolagents[toolkit]  # For basic tasks
smolagents[openai]   # For OpenAI API
smolagents[vision]   # For computer vision tasks
smolagents[docker]   # To execute code in a sandbox environment for security
smolagents[telemetry] # Add support for monitoring and tracing